.left-sidebar
	width 20%
	max-width 150px
	height 100%
	// position fixed
	background black
	display block
	float left
	ul
		list-style: none
		padding 0
		li
			border-bottom 2px solid rgba(white,0.5)
			a
				text-decoration none
				color white
				font-weight: bold
				&:hover
					transition 1s ease
					color gray